{% extends 'template.html' %} {% block title %} One Day Job{% endblock %} {%
block content %}

<div class="one">
  <h1>OUR STORY</h1>
</div>
<div class="container">
  <p style="text-align: center; font-size: 150%">
    The idea started in 2022 while we where looking for project idea so we
    decided to start a job offers website where companies can hire job seekers
    for a one day job. also job seekers can submit to jobs and get in contact
    with companies.
  </p>
</div>
<div class="one">
  <h1>OUR TRUSTED COMPANIES</h1>
</div>
<div class="job-slider">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>
</div>
<div class="show_more">
  <p><a href="/">Show_more</a></p>
</div>
<div class="one">
  <h1>OUR BEST TALENTS</h1>
</div>
<div class="job-slider">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>
</div>
{% endblock %}
