{% extends 'template.html' %} {% block title %} One Day Job{% endblock %} {%
block content %}

<div class="one">
  <h1>OUR STORY</h1>
</div>
<div class="container">
  <p style="text-align: center; font-size: 150%">
    The idea started in 2022 while we where looking for project idea so we
    decided to start a job offers website where companies can hire job seekers
    for a one day job. also job seekers can submit to jobs and get in contact
    with companies.
  </p>
</div>
<div class="one">
  <h1>OUR TRUSTED COMPANIES</h1>
</div>
<div class="job-slider">
  {% if top_companies|length > 0 %} {% for company in top_companies %}
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{company.company}}</h5>
    </div>

    <div class="card-body cart_btn">
      {% if session['uuid'] %}
      <a href="/company_profile/{{company.id}}" class="card-link"
        ><button class="button-70 card-link" role="button">Profile</button></a
      >
      {% else %}
      <a href="/login" class="card-link"
        ><button class="button-70 card-link" role="button">Profile</button></a
      >
      {% endif %}
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

<div class="one">
  <h1>OUR BEST TALENTS</h1>
</div>
<div class="job-slider">
  {% if top_users|length > 0 %} {% for user in top_users %}

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <p>{{ user.education }}</p>
    </div>

    <div class="card-body cart_btn">
      {% if session['uuid'] %}
      <a href="#" id="salaire" class="card-link">contact</a>
      {% else %}
      <a href="/login" id="salaire" class="card-link">contact</a>
      {% endif %} {% if session['uuid'] %}
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Profile</button></a
      >
      {% else %}
      <a href="/login" class="card-link"
        ><button class="button-70 card-link" role="button">Profile</button></a
      >
      {% endif %}
    </div>
  </div>

  {% endfor %} {% endif %}
</div>
{% endblock %}
