{% extends 'template.html' %} {% block title %} Company Profile{% endblock %} {%
block content %}
<h1>{{ logged_company.company }}</h1>
<p>Email: {{ logged_company.email }}</p>
<p>Phone: {{ logged_company.phone }}</p>
<p>Web Site: {{ logged_company.web_site }}</p>
<p>Unique ID: {{ logged_company.unique_identfier }}</p>
<p>Activite Area: {{ logged_company.activite_area }}</p>
<p>Description: {{ logged_company.description }}</p>
{% if logged_company.id == logged_company %}
<a href="/">Edit Profile</a> |
<a href="/company_dashboard/{{ logged_company.id }}">Back to dashboard</a>
{% endif %} {% endblock %}
