
{% extends 'template.html' %} {% block title %}Registration{% endblock %} {%
block content %}

<div class="container register">
  <div class="reg_left">
    <h4>Create a profile</h4>
    <p>Creating a ODJ profile will help you to</p>
    <p>
      Receive alerts for the best Talents using advanced filters and to add a
      jobs opportunity so you can hire the best for your company
    </p>
    <p>You can connect via social media</p>
    <div class="socialicons">
      <img
        class="socialicons"
        src="../static/img/facebook.svg"
        alt="facebook"
        srcset=""
      />
      <img
        class="socialicons"
        src="../static/img/linkedin.svg"
        alt="linkedin"
        srcset=""
      />
      <img
        class="socialicons"
        src="../static/img/envelope-fill.svg"
        alt="envelope"
        srcset=""
      />
    </div>
    <p>Talents looking for jobs</p>
    <p>
      if you represente a company or organization and want to hire, create an
      account to search for talents
    </p>
  </div>
  <div class="reg_right">
    <div class="Who_are_you">
      
    <form class="form-group row rad" action="add_company" method="post">
     
    </div>
    </form>

    <form action="/add_company" method="post" class="form-group row the_register_form">
      {% with messages =
      get_flashed_messages(category_filter=["company_register"]) %} {% if
      messages %} {% for message in messages %}
      <div class="alert alert-danger">
        <p>{{ message }}</p>
      </div>
      {% endfor %} {% endif %} {% endwith %}
  <div class="row">
    <div class="col">
      <input name="company" type="text" class="form-control" placeholder="Company">
    </div>
    <div class="col">
      <input name="email" type="text" class="form-control" placeholder="Email">
    </div>
  </div>
  
<div class="row"> 
    <div class="col">
      <input name="phone" type="number" class="form-control" placeholder="Phone number">
    </div>
    <div class="col">
      <input name="web_site" type="text" class="form-control" placeholder="Web site">
    </div>
  </div> 
 
     <div class=" date_input"> 
 <select name="activite_area" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Activity area...</option>
    <option value="IT">IT</option>
    <option value="Design">Design</option>
    <option value="Marketing">Marketing</option>
    <option value="Translation">Translation</option>
    <option value="Networking">Networking</option>
  </select> 
 </div>
<div class="row"> 
    <div class="col">
      <input name="password" type="password" class="form-control" placeholder="Password">
    </div>
    <div class="col">
      <input name="confirm_password" type="password" class="form-control" placeholder="Confirm password">
    </div>
  </div>

<div class="row date_input"> 
    <div class="col">
      <input name="logo" type="file" class="form-control" placeholder="Logo">
    </div>
</div>
  <div class="row"> 
    <div class="col">
      <textarea name="description" id="" cols="100%" rows="auto" class="form-control" placeholder="description"></textarea>
    </div>
  </div>
  <div class="row date_input"> 
    <div class="col">
<input type="text" name="unique_identfier" id=""  class="form-control" placeholder="Unique identifier">    
</div>
  </div>
<div class=" date_input"> 
 
 <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="address_id">
    <option selected>City</option>
    <option value="1">Tunis</option>
  </select>     
</div>

    <div>
      <input type="checkbox" name="" id="">
    <label for=""> <a href="/conditions">   Privacy & conditions</a></label>   
  
  </div>
<div class="row date_input"> 

<div class="col">
 <button class="btn btn-primary"> Register</button>  
    </div>
  
  </div>
  </form>
  </div>
 
  </div>

  </div>
</div>
{% endblock %}