{% extends 'template.html' %} {% block title %} One Day Job{% endblock %} {%
block content %}

<div class="nine">
  <h1>700<span>Opportunities</span></h1>
</div>

<div class="slideshow-container">
  <div class="mySlides">
    <img src="../static/img/slider.webp" style="width: 100%" />
  </div>

  <div class="mySlides">
    <img src="../static/img/slider2-1.webp" style="width: 100%" />
  </div>

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>
<br />

<div style="text-align: center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
</div>

<div class="nine">
  <h1>Latest<span>Opportunities</span></h1>
</div>

<!-- JOBS -->
<div class="job-slider">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>
</div>
<div class="show_more">
  <p><a href="/">Show_more</a></p>
</div>
<div class="nine">
  <h1>Most Rated<span>Talents</span></h1>
</div>
<!-- job seekers -->
<div class="job-slider">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Company name</h5>
      <p>job title</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">salaire</a>
      <a href="#" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
    </div>
  </div>
</div>
<div class="show_more">
  <p><a href="/">Show_more</a></p>
</div>

<script src="../static/js/script.js"></script>
{% endblock %}
