{% extends 'template.html' %} {% block title %} One Day Job{% endblock %} {%
block content %}

<div class="nine">
  <h1>{{ all_jobs|length }}<span>Opportunities</span></h1>
</div>

<div class="slideshow-container">
  <div class="mySlides">
    <img src="../static/img/slider.webp" style="width: 100%" />
  </div>

  <div class="mySlides">
    <img src="../static/img/slider2-1.webp" style="width: 100%" />
  </div>

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>
<br />

<div style="text-align: center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
</div>

<div class="nine">
  <h1>Latest<span>Opportunities</span></h1>
</div>

<!-- JOBS -->
<div class="job-slider">
  {% if latest_jobs|length > 0 %} {% for job in latest_jobs %}
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{job.title}}</h5>
      <p>{{job.company_name}}</p>
    </div>

    <div class="card-body cart_btn">
      <a href="#" id="salaire" class="card-link">{{ job.salary }} TND</a>
      {% if session['uuid'] %}
      <a href="/job_details/{{ job.id }}" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
      {% else %}
      <a href="/login" class="card-link"
        ><button class="button-70 card-link" role="button">Details</button></a
      >
      {% endif %}
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

<div class="show_more">
  <p><a href="/show_all_jobs">Show More</a></p>
</div>
<div class="nine">
  <h1>Most Rated<span>Talents</span></h1>
</div>
<!-- job seekers -->
<div class="job-slider">
  {% if top_users|length > 0 %} {% for user in top_users %}

  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../static/img/logo.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <p>{{ user.education }}</p>
    </div>

    <div class="card-body cart_btn">
      {% if session['uuid'] %}
      <a href="#" id="salaire" class="card-link">contact</a>
      {% else %}
      <a href="/login" id="salaire" class="card-link">contact</a>
      {% endif %} {% if session['uuid'] %}
      <a href="/user_dashboard/{{user.id}}" class="card-link"
        ><button class="button-70 card-link" role="button">Profile</button></a
      >
      {% else %}
      <a href="/login" class="card-link"
        ><button class="button-70 card-link" role="button">Profile</button></a
      >
      {% endif %}
    </div>
  </div>

  {% endfor %} {% endif %}
</div>
<div class="show_more">
  <p><a href="/show_all_talents">Show More</a></p>
</div>

<script src="../static/js/script.js"></script>
{% endblock %}
