{% extends 'template.html' %} {% block title %} One Day Job{% endblock %} {%
block content %}
<div>
  <h3>Title: {{ sellected_job.title }}</h3>
  <p>End at: {{ sellected_job.end_at }}</p>
  <p>Salary: {{ sellected_job.salary }}</p>
  <p>Industry: {{ sellected_job.industry }}</p>
  <p>Experience: {{ sellected_job.experience }}</p>
  <p>Description: {{ sellected_job.description }}</p>
  <a href="/update_job/{{ sellected_job.id }}" class="btn btn-warning"
    >Update</a
  >
  <a href="/delete_job/{{ sellected_job.id }}" class="btn btn-danger">Delete</a>
  <a href="/display_jobs" class="btn btn-dark">Dashboard</a>
</div>
{% endblock %}
