{% extends 'template.html' %} {% block title %} Company Profile{% endblock %} {%
block content %}
<style></style>
<div class="profile_info">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ sellected_job.title }}</h5>
      <p class="card-text">End at: {{ sellected_job.end_at }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">alary: {{ sellected_job.salary }}</li>
      <li class="list-group-item">
        Experience: {{ sellected_job.experience }}
      </li>
      <li class="list-group-item">
        Description: {{ sellected_job.description }}
      </li>
      <li>
        {% if session['uuid'] == sellected_job.company_id %}
        <a href="/update_job/{{ sellected_job.id }}" class="btn btn-warning"
          >Edit</a
        >
        <a href="/delete_job/{{ sellected_job.id }}" class="btn btn-danger"
          >Delete</a
        >
        <a href="/display_jobs" class="btn btn-dark">Dashboard</a>
      </li>
    </ul>

    {% endif %}
  </div>
</div>
{% endblock %}
