{% extends 'template.html' %} {% block title %} One Day Job{% endblock %} {%
block content %}
<div class="container">
  <p>
    Use of the onedayjob.com Site is governed by these “Terms and Conditions”.
    Please read this page carefully. If you do not agree to be bound by these
    Terms and Conditions, you must not use this Website or any related services.
    By using this Website, you agree to be bound by these Terms and Conditions.
  </p>
  <h4>Use of Content</h4>
  <p>
    You are authorized to read the content posted on onedayjob.com and to
    download a single copy, solely for your personal use and for non-commercial
    purposes. The "Content" of this Website such as graphics, images, logos,
    icons, computer programs and any other element are protected under Tunisian
    and international laws relating to copyright and trademarks. All Content is
    the property of onedayjob or its content providers or customers.
  </p>
  <h4>Principes généraux</h4>
  <p>
    Users shall not use the Website to transmit, distribute, store or destroy
    Content (a) in violation of any applicable law or regulation, (b) in any way
    that infringes copyrights, trademarks, trade secrets or other intellectual
    property rights of third parties or that would violate the privacy or other
    personal rights of third parties, or (c) in a defamatory, obscene,
    threatening, abusive or hateful manner.
  </p>
  <h4>General safety principles</h4>
  <p>
    Users are prohibited from violating or attempting to violate the security of
    the Website, in particular (a) by accessing data not intended for their
    attention or by connecting to a server or an account to which access is
    prohibited, (b) attempting to penetrate or explore the system or network or
    testing its vulnerability, or otherwise attempting to breach security or
    identification measures without authorization to do so, (c) attempting to
    disrupt the service to any User, host or network, including but not limited
    to viruses, overloading, mass e-mailing or spamming in general, (d) sending
    unsolicited e-mails such as promotions or advertisements of products or
    services, or (e) falsifying, in whole or in part, the TCP/IP code of
    information posted through email or newsgroups. Any breach of system or
    network security may subject you to both civil and criminal liability.
    onedayjob.com will investigate all occurrences that involve or may involve
    such violations and will assist any law enforcement authorities to prosecute
    any User involved in such acts.
  </p>
  <h4>Inscription et mot de passe</h4>
  <p>
    The confidentiality of your Information as well as your password remains
    your entire responsibility. You are responsible for all uses of your
    registration whether or not authorized by you. You agree to immediately
    notify the Company of any unauthorized use of your registration or password.
  </p>
</div>
{% endblock %}
