<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style_dashboard.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="../static/img/logo (1).ico" />
  </head>
  <body>
    <header>
      <nav id="myHeader" class=" header navbar navbar-light bg-light">
        <div class="left_nav">
           
          <div class="links">
            <a href="/" class="link-dark">Home</a>
            <a href="/about" class="link-dark">About</a>
            <a href="/contact" class="link-dark">Contact</a>
          </div>
        </div>
     
        <img src="../static/img/logo.png" alt="" id="logo" />
    
        <!-- search button -->
        <div class="logins">
          <form action="">
 
          </form>
          {% if session['uuid'] %}
          <a href="/logout" class=" btn btn-dark">Logout</a>
          {% else %}
          <a href="/login" class=" btn btn-primary">Login</a>
          <a href="/register" class=" button-300 btn btn-dark">Register</a>
          {% endif %}
        </div>
      </nav>
    </header>
    
    <!-- START SECTION -->
    {% block content %}{% endblock %}
    <!-- END SECTION -->

    <footer class="text-center text-lg-start bg-light text-muted">
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      ></section>

      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                <img src="../static/img/logo.png" alt="" id="logo2" />
              </h6>
              <p>
                One Day Job connects job seekers with employment opportunities
                across Tunisia.
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Company</h6>
              <p>
                <a href="/add_job" class="text-reset">Add job offer</a>
              </p>
              <p>
                <a href="/job_seekers" class="text-reset">Find a job seeker</a>
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Job Seeker</h6>
              <p>
                <a href="/user_profile" class="text-reset">My profile</a>
              </p>
              <p>
                <a href="/jobs" class="text-reset">Find a job</a>
              </p>
            </div>
 
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
   
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p>
                <i class="fas fa-envelope me-3"></i>
                Onedayjob@contact.tn
              </p>
              <p><i class="fas fa-phone me-3"></i> + 216 21 420 848</p>
              <p><i class="fas fa-print me-3"></i> + 216 56 929 349</p>
            </div>
          </div>
        </div>
      <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2022 all rights reserved onedayjob.tn
        
      </div>
    </footer>
 
  </body>
</html>
